@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Calle 111 # 67 46<br />
    Medellin ,Antioquia 05001<br />
    <abbr title="Telefono">4615249</abbr> <br />
    811.011.086
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Soporte@example.com">Soporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>