@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SPORTFLOR</h1>
    <p class="lead">
        SportFlor, es una tienda del barrio Florencia,ubicada en la comuna Noroccidental de Medellin, la cual es una empresa
        creativa dedicada a la distribución de elementos deportivos que esten bajo las necesidades y gustos particulares y
        específicos de sus clientes y realiza su ejecución en el departamento de Antioquia.
        Nuestro modelo de negocio se basa en un concepto personalizado, listo para llevar y con
        identidad de empresa, que les permita a nuestros clientes deportistas ejecutar sus actividades.
        Nuestro modelo de servicio está enfocado en atender las necesidades de nuestros clientes, de
        entregarles un producto en buen estado, de acuerdo con el pedido establecido, en el tiempo
        solicitado y entregarlo donde el cliente lo requiera.
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>El Producto</h2>
        <p>
            El propósito es que el deportista pueda trasmitir su tranquilidad con nuestro producto
            deportivo, asi pueda ejecutar todas sus actividades de manera comoda y segura.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>El Proceso</h2>
        <p>
            El proceso de entrega es totalmente monitoreado por la empresa, generando asi la fiabilidad en la
            generacion de la necesidad de nuestro cliente en saber el estado de su pedido.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>La Innovación</h2>
        <p>
            SportFlor atenderá a su cliente con las herramientas
            necesarias para que pueda crear y seguir su pedido y después de la
            entrega realizar el monitoreo de su garantia.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>